<header>
  <nav class="navbar">
    <a href="" class="navbar-logo">
      <img src="assets/images/logo.png" alt="ng movies"/>
    </a>
    <ul class="navbar-links">
      <li><a href="javascript:void(0);" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a href="javascript:void(0);" routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a href="">Tv Shows</a></li>
      <li><a href="javascript:void(0);" routerLink="/genres" routerLinkActive="active">Genres</a></li>
    </ul>
  </nav>
</header>
