<app-slider [movies]="upcomingMovies"></app-slider>
<app-items-banner [sectionTitle]="'Upcoming Movies'" [movieTypes]="upcomingMovies"></app-items-banner>
<app-items-banner [sectionTitle]="'Top Rated Movies'" [movieTypes]="topRatedMovies"></app-items-banner>
<app-items-banner [sectionTitle]="'Popular Movies'" [movieTypes]="popularMovies"></app-items-banner>
<app-items-banner [sectionTitle]="'Now Playing Movies'" [movieTypes]="nowPlayingMovies"></app-items-banner>
<!--<pre>{{movies | json}}</pre>-->
